<div class="login-wrapper d-flex justify-content-center align-items-center">
    <div class="login-container">
        <div class="floating-box p-4 rounded position-relative pt-5">
            <div class="circle-image position-absolute top-0 start-50 translate-middle"
                style="background-color: white; border-radius: 50%; padding: 10px;">
                <img src="assets/images/tere4.png" alt="Logo" class="img-fluid rounded-circle"
                    style="width: 40px; height: 30px;">
            </div>

            <div class="d-flex flex-column h-100 justify-content-center">
                <div class="mb-5 authentication-form">
                    <form [formGroup]="loguinForm" (ngSubmit)="loguearse()">
                        <div class="mb-3">
                            <label class="form-label" for="example-email">Email</label>
                            <input type="email" id="example-email" class="form-control" formControlName="email"
                                placeholder="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="example-password">Password</label>
                            <input type="password" id="example-password" class="form-control" formControlName="password"
                                placeholder="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe"
                                formControlName="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember</label>
                        </div>

                        <div class="mb-1 text-center d-grid">
                            <button class="btn btn-soft-primary" type="submit">Sign In</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="spinner" class="d-flex justify-content-center p-3">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                </div>

                <p class="text-danger text-center">Don't have an account? 
                    <a (click)="registro()" class="text-dark fw-bold ms-1" style="cursor: pointer;">Sign Up</a>
                </p>
            </div>

            <div class="col-12 text-center">
                <a class="fw-bold footer-text" target="_blank">CorpaTech</a>
            </div>
        </div>
    </div>
</div>
