<div class="login-wrapper d-flex justify-content-center align-items-center" style="height: 100vh; width: 100vw;">
    <div class="login-container d-flex justify-content-center align-items-center" style="width: 100%;">
        <div class="floating-box p-4 rounded position-relative"
            style="width: 100%; max-width: 500px; background-color:#ffffff; 
                   padding-top: 70px; 
                   border-radius: 15px; 
                   position: relative;
                   box-shadow: 0 0 2px 0px rgba(255, 126, 95, 0.8);">

            <!-- Imagen superior -->
            <div class="header-image position-absolute top-0 start-0 w-100"
                style="height: 120px; overflow: hidden; z-index: 0; border-top-left-radius: 15px; border-top-right-radius: 10px;">
                <img src="/assets/images/fff.png" alt="Header" style="width: 100%; height: 100%; object-fit: cover;">
            </div>

            <!-- Círculo del logo centrado en la parte inferior de la imagen superior -->
            <div class="circle-image">
                <img src="assets/images/tere4.png" alt="Logo" class="img-fluid rounded-circle"
                    style="width: 100px; height: 70px;">
            </div>
            

            <!-- Contenedor de texto + formulario -->
            <div class="d-flex flex-column align-items-center"
                style="margin-top: 80px; position: relative; z-index: 1;">

                <div class="fw-bold footer-text system-name text-center"
                    style="font-weight: bold; font-size: 20px; margin-top: 55px;
                           background: linear-gradient(90deg, #ff7e5f, #feb47b);
                           -webkit-background-clip: text;
                           -webkit-text-fill-color: transparent;">
                    NextNova
                </div>

                <!-- Formulario de login -->
                <div class="authentication-form w-100 mt-3">
                    <form [formGroup]="loguinForm" (ngSubmit)="loguearse()">
                        <div class="mb-3">
                            <label class="form-label" for="example-email">Email</label>
                            <input type="email" id="example-email" class="form-control" formControlName="email"
                                placeholder="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="example-password">Password</label>
                            <input type="password" id="example-password" class="form-control" formControlName="password"
                                placeholder="password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe"
                                formControlName="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember</label>
                        </div>

                        <div *ngIf="botton" class="mb-1 text-center d-grid">
                            <button class="btn btn-soft-primary" type="submit">Sign In</button>
                        </div>
                    </form>

                    <div *ngIf="spinner" class="d-flex justify-content-center p-1">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>

                    <!-- <p class="text-danger text-center" style="margin-top: 40px;">
                        Don't have an account?
                        <a (click)="registro()" class="text-dark fw-bold ms-1" style="cursor: pointer;">Sign Up</a>
                    </p> -->
                </div>
            </div>

            <div class="col-12 text-center mt-3 p-4">
                <a class="fw-bold footer-text" target="_blank">CorpaTech</a>
            </div>
        </div>
    </div>
</div>
