<div class="row">
     <!-- Columna para los card (Salidas y Ganancias) -->
     <div class="col-xxl-6">
          <div class="row">
               <div class="col-12">
                    <div class="alert alert-primary text-truncate mb-3" role="alert">
                         INFORME VENTAS
                    </div>
               </div>

               <div class="col-md-12">
                    <div class="card overflow-hidden shadow-sm">
                        <div (click)="mostrafilter()" class="card-body" style="cursor: pointer;">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar-md bg-soft-primary rounded d-flex align-items-center justify-content-center">
                                        <i class="bx bx-dollar-circle avatar-title text-primary fs-24"></i>
                                    </div>
                                </div>
                                <div class="col text-end">
                                    <p class="text-muted mb-1 text-truncate">Ventas</p>
                                    <h3 class="text-dark mt-1 mb-0"> ${{ TotalVentas}}</h3>
                                
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-2 bg-light bg-opacity-50">
                         <div class="d-flex align-items-center justify-content-between w-100">
                              <div class="d-flex gap-3">
                                  <a>{{parrafo}}</a>
                              </div>
                              <p-datepicker *ngIf="filter" [(ngModel)]="Fecha" size="small"  
                                  (ngModelChange)="getVentas$(); filter = false" 
                                  placeholder="Fecha inicial" showIcon 
                                  iconDisplay="input" [appendTo]="'body'"> 
                              </p-datepicker>
                          </div>
                          
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card overflow-hidden shadow-sm">
                        <div (click)="mostrafiltro()" class="card-body" style="cursor: pointer;">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                   <div class="avatar-md bg-soft-warning rounded">
                                        <i class="bx bx-dollar-circle avatar-title text-warning fs-24"></i>
                                   </div>
                                </div>
                                <div class="col text-end">
                                    <p class="text-muted mb-1 text-truncate">Compras</p>
                                    <h3 class="text-dark mt-1 mb-0"> ${{ TotalCompras}}</h3>
                                
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-2 bg-light bg-opacity-50">
                         <div class="d-flex align-items-center justify-content-between w-100">
                              <div class="d-flex gap-3">
                                  <a>{{hoy}}</a>
                              </div>
                              <p-datepicker *ngIf="filtert" [(ngModel)]="Fecha2" size="small"  
                                  (ngModelChange)="getcompras$(); filter = false" 
                                  placeholder="Fecha inicial" showIcon 
                                  iconDisplay="input" [appendTo]="'body'"> 
                              </p-datepicker>
                          </div>
                          
                        </div>
                    </div>
                </div>
                


               <!-- Card de Ganancias -->
              
          </div> <!-- end row -->
      


     </div> <!-- end col -->


     <div class="col-xxl-6">
          <div class="card " style="height: 390px;">
               <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                         <h4 class="card-title">Ventas últimos meses</h4>
                         <div>
                              <button type="button" class="btn btn-sm btn-outline-light">ALL</button>
                         </div>
                    </div>

                    <div class="chart-container mt-3">
                         <canvas baseChart [data]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                              [type]="barChartType">
                         </canvas>
                    </div>
               </div>
          </div>
     </div> <!-- end col -->


     


    
</div>


<div class="card shadow-sm border-light">

</div>



<div class="row">
     <div class="col-md-6">
          <div class="card shadow-sm border-light">
               <div class="card-body">
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar-md bg-primary bg-opacity-10 rounded">
                            <iconify-icon icon="solar:clipboard-remove-broken"
                                class="fs-32 text-primary avatar-title"></iconify-icon>
                        </div>
                        <div>
                            <h4 class="mb-1">Productos</h4>
                            <p class="mb-0">
                                Top menos vendidos
                                <a class="text-primary ms-1">#Listado</a>
                            </p>
                        </div>
                
                        <!-- Mueve el SVG al final y añade la clase ms-auto -->
                        <svg (click)="mostrarfilter()" class="ms-auto" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-width="1.5">
                                <path stroke-linecap="round"
                                    d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4" />
                                <path stroke-linecap="round" d="M7 4V2.5M17 4V2.5M2 9h20" opacity="0.5" />
                                <circle cx="18" cy="18" r="3" />
                                <path stroke-linecap="round" d="M20.5 20.5L22 22" />
                            </g>
                        </svg>
                    </div>
                
                    <h5 class="mt-3">Explora nuevas estrategias de pricing</h5>
                
                    <div class="table-responsive mt-4">
                        <table class="table table-hover table-nowrap table-centered m-0">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let topMenosVendidos of MenosVendidos">
                                <tr>
                                    <td><a class="text-muted"> {{topMenosVendidos.productName |uppercase}}</a></td>
                                    <td><span class="badge bg-secondary text-white py-1 px-2">{{topMenosVendidos.totalQuantity}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                

               <div *ngIf="filterCalend" class="card-footer border-top" id="tablaDestino">
                    <div class="d-flex gap-4">
                         <p-datepicker [(ngModel)]="fechaInicialSold" size="large" placeholder="Fecha inicial" showIcon
                              iconDisplay="input"></p-datepicker>
                         <p-datepicker [(ngModel)]="fechaFinalSold" size="large" placeholder="Fecha final" showIcon
                              iconDisplay="input"></p-datepicker>

                         <button (click)="topMenosVendidos()" class="btn btn-soft-primary" type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                   <g fill="none" stroke="currentColor" stroke-width="1.5">
                                        <circle cx="11.5" cy="11.5" r="9.5"></circle>
                                        <path stroke-linecap="round" d="M18.5 18.5L22 22"></path>
                                   </g>
                              </svg>
                         </button>


                    </div>
               </div>
          </div>
     </div>

     <!-- Segunda tarjeta -->
     <div class="col-md-6">
          <div class="card shadow-sm border-light">
               <div class="card-body">
                    <div class="d-flex align-items-center gap-3"> 
                         <div class="avatar-md bg-primary bg-opacity-10 rounded">
                              <iconify-icon icon="solar:box-broken"
                                   class="fs-32 text-primary avatar-title"></iconify-icon>
                         </div>
                         <div>
                              <h4 class="mb-1">Productos</h4>
                              <p class="mb-0">
                                   Top más vendidos
                                   <a class="text-primary ms-1">#Listado</a>
                              </p>
                         </div>
                         <svg  (click)="mostrarfiltro()"  class="ms-auto" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" width="24" height="24" viewBox="0 0 24 24">
                              <g fill="none" stroke="currentColor" stroke-width="1.5">
                                   <path stroke-linecap="round"
                                        d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4" />
                                   <path stroke-linecap="round" d="M7 4V2.5M17 4V2.5M2 9h20" opacity="0.5" />
                                   <circle cx="18" cy="18" r="3" />
                                   <path stroke-linecap="round" d="M20.5 20.5L22 22" />
                              </g>
                         </svg>
                    </div>

                    <h5 class="mt-3">Productos con mayor crecimiento: oportunidades y desafíos</h5>

                    <div class="table-responsive mt-4">
                         <table class="table table-hover table-nowrap table-centered m-0">
                              <thead>
                                   <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                   </tr>
                              </thead>
                              <tbody *ngFor="let topVendidos of MasVendidos">
                                   <tr>
                                        <td><a class="text-muted">{{topVendidos.productName|uppercase}}</a></td>
                                        <td><span
                                                  class="badge bg-warning text-white">{{topVendidos.totalQuantity}}</span>
                                        </td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>
               </div>


               <div *ngIf="filterCalendar" class="card-footer border-top" id="Destino1">
                    <div class="d-flex gap-4">
                         <p-datepicker [(ngModel)]="fechaInicial" size="large" placeholder="Fecha inicial" showIcon
                              iconDisplay="input"></p-datepicker>
                         <p-datepicker [(ngModel)]="fechaFinal" size="large" placeholder="Fecha final" showIcon
                              iconDisplay="input"></p-datepicker>

                         <button (click)="topMasVendidos()" class="btn btn-soft-primary" type="submit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                   <g fill="none" stroke="currentColor" stroke-width="1.5">
                                        <circle cx="11.5" cy="11.5" r="9.5"></circle>
                                        <path stroke-linecap="round" d="M18.5 18.5L22 22"></path>
                                   </g>
                              </svg>
                         </button>
                    </div>
               </div>
          </div>
     </div>
</div>