.mat-datepicker-content {
    background-color: #fafafa; /* Fondo personalizado para el calendario */
  }
  
  .mat-datepicker-toggle {
    color: #ff6d2fe3; /* Color del ícono */
 
  }
  mat-icon {
    font-size: 6px; /* Ajusta el tamaño del ícono */
    
  }




  .table td, .table th {
    border: none;  /* Elimina el borde entre las celdas */
    padding: 12px 15px;  /* Añade espaciado interno en las celdas */
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;  /* Color de fondo al pasar el mouse */
}


.p-datepicker input:focus {
  outline: none !important;   /* Elimina el contorno del focus */
  border-color: inherit !important; /* Mantiene el color original */
  box-shadow: none !important; /* Elimina cualquier sombra */
}

.p-datepicker-day-selected {
  background: #ff6d2fe3 !important;
  color: var(--p-datepicker-date-selected-color);
}


 
  
 