
<router-outlet></router-outlet>
<div  *ngIf="mostrarTabla" class="card" >

     <div class="p-2   mb-0 fondo">
          <div class="d-flex align-items-center justify-content-between">
               <h4 class="p-2 card-title mi-color-letra ">Productos registrados</h4>
               <a (click)="registro()" class="btn btn-sm  btn-success me-1"><i class="bx bx-plus"></i> Nuevo
                    Producto</a>

          </div>


     </div>



     <div class="no-padding" >
          <div class="table-responsive">
               <table class="table align-middle mb-0 table-hover table-centered">
                    <thead class="bg-light-subtle">
                         <tr>

                              <th class="text-center">Código</th>
                              <th class="text-center">Artículo</th>
                              <th class="text-center">Cantidad Inicial</th>
                              <th class="text-center">Cantidad Mínima</th>
                              <th class="text-center">Precio Unitario (Venta)</th>
                              <th class="text-center">Precio Unitario (Compra)</th>
                              <th class="text-center"><iconify-icon
                                        icon="solar:settings-bold-duotone"></iconify-icon>Opciones </th>
                         </tr>
                    </thead>
                    <tbody>


                         <tr *ngFor="let producto of productos">
                              <td class="text-center letra">{{ producto.articulo }}</td>
                              <td class="text-center">{{ producto.codigo }}</td>
                              <td class="text-center">{{ producto.cantidadInicial }}</td>
                              <td class="text-center">{{ producto.cantidadMinima }}</td>
                              <td class="text-center">{{ producto.PvUnitario }}</td>
                              <td class="text-center">{{ producto.PcUnitario }}</td>
                              <td>
                                   <div class="d-flex gap-2">
                                        
                                        <a (click)="actualizar(producto.codigo)" class="btn btn-soft-danger btn-sm custom-btn"><iconify-icon icon="solar:pen-2-broken"
                                                  class="align-middle fs-18"></iconify-icon></a>
                                        <a (click)="eliminar(producto.codigo)"
                                             class="btn btn-soft-danger btn-sm"><iconify-icon
                                                  icon="solar:trash-bin-minimalistic-2-broken"
                                                  class="align-middle fs-18"></iconify-icon></a>
                                   </div>
                              </td>
                         </tr>


                    </tbody>
               </table>
          </div>
          <!-- end table-responsive -->
     </div>
     <div class="card-footer border-top">
          <nav aria-label="Page navigation example">
               <ul class="pagination justify-content-end mb-0">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
               </ul>
          </nav>
     </div>
    
</div>

