<div class="main-nav">
    <!-- Sidebar Logo -->
    <div class="logo-box">
         <a href="index.html" class="logo-dark">
              <img src="assets/images/logo-sm.png" class="logo-sm" alt="logo sm">
              <img src="assets/images/logo-dark.png" class="logo-lg" alt="logo dark">
         </a>

         <a  class="logo-light">
              <img src="assets/images/tere3.png" class="logo-sm" alt="logo sm">
              <img src="assets/images/tere3.png" class="logo-lg" alt="logo light">
         </a>
    </div>

    <!-- Menu Toggle Button (sm-hover) -->
    <button type="button" class="button-sm-hover" aria-label="Show Full Sidebar" (click)="toggleMenuSize()">
         <iconify-icon icon="solar:double-alt-arrow-right-bold-duotone" class="button-sm-hover-icon"></iconify-icon>
    </button>

    <div class="scrollbar" data-simplebar>
         <ul class="navbar-nav" id="navbar-nav">

              <li class="menu-title">General</li>

              <li class="nav-item">
                   <a class="nav-link" [routerLink]="['inventarioo']" routerLinkActive="router-link-active">
                        <span class="nav-icon">
                             <iconify-icon icon="solar:widget-5-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text"> Inventario </span>
                   </a>
              </li>



              <li class="nav-item">
                   <a class="nav-link menu-arrow" href="#sidebarInventory" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarInventory">
                        <span class="nav-icon">
                             <iconify-icon icon="solar:box-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text"> Productos </span>
                   </a>
                   <div class="collapse" id="sidebarInventory">
                        <ul class="nav sub-navbar-nav">

                             <li class="sub-nav-item">
                                  <a class="sub-nav-link" [routerLink]="['/productos/registro']"
                                       routerLinkActive="router-link-active">Registrar</a>
                             </li>
                             <li class="sub-nav-item">
                                  <a class="sub-nav-link" [routerLink]="['/productos/inventario']"
                                       routerLinkActive="router-link-active">Mostrar inventario</a>
                             </li>
                        </ul>
                   </div>
              </li>







              <li class="nav-item">
                   <a class="nav-link" [routerLink]="['movimientos']" routerLinkActive="router-link-active"  >
                        <span class="nav-icon">
                             <iconify-icon icon="solar:card-transfer-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text">Movimiento</span>
                   </a>
              </li>


              <li class="nav-item">
                   <a class="nav-link" [routerLink]="['ventas']" routerLinkActive="router-link-active"  >
                        <span class="nav-icon">
                             <iconify-icon icon="solar:cash-out-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text">Venta</span>
                   </a>
              </li>


              <li class="nav-item">
                   <a class="nav-link"   [routerLink]="['ventastotales']" routerLinkActive="router-link-active"  >
                        <span class="nav-icon">
                             <iconify-icon icon="solar:chart-2-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text">Venta totales</span>
                   </a>
              </li>

              <li class="menu-title mt-2">Users</li>



              <li class="nav-item">
                   <a class="nav-link menu-arrow" href="#sidebarRoles" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarRoles">
                        <span class="nav-icon">
                             <iconify-icon icon="solar:user-speak-rounded-bold-duotone"></iconify-icon>
                        </span>
                        <span class="nav-text"> Roles </span>
                   </a>
                   <div class="collapse" id="sidebarRoles">
                        <ul class="nav sub-navbar-nav">
                             <ul class="nav sub-navbar-nav">
                                  <li class="sub-nav-item">
                                       <a class="sub-nav-link" >List</a>
                                  </li>
                                  <li class="sub-nav-item">
                                       <a class="sub-nav-link" >Edit</a>
                                  </li>
                                  <li class="sub-nav-item">
                                       <a class="sub-nav-link" >Create</a>
                                  </li>
                                 
                                  <li class="sub-nav-item">
                                   <a class="sub-nav-link" >Otra</a>
                              </li>
                             </ul>
                        </ul>
                   </div>
              </li>



         </ul>
    </div>
</div>
