<div class="row">
    <div class="col-md-6 col-xl-3">
         <div class="card">
              <div class="card-body">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Product Items </h4>
                             <p class="text-muted fw-medium fs-22 mb-0">3521 <span class="fs-12">(Items)</span></p>
                        </div>
                        <div>
                             <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                  <iconify-icon icon="solar:box-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                             </div>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-md-6 col-xl-3">
         <div class="card">
              <div class="card-body">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <h4 class="card-title mb-2 d-flex align-items-center gap-2">In Stock Product </h4>
                             <p class="text-muted fw-medium fs-22 mb-0">1311 <span class="fs-12">(Items)</span></p>
                        </div>
                        <div>
                             <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                  <iconify-icon icon="solar:reorder-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                             </div>
                        </div>
                   </div>
              </div>
         </div>
    </div>

    <div class="col-md-6 col-xl-3">
         <div class="card">
              <div class="card-body">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <h4 class="card-title mb-2 d-flex align-items-center gap-2">Out Of Stock Product </h4>
                             <p class="text-muted fw-medium fs-22 mb-0">231 <span class="fs-12">(Items)</span></p>
                        </div>
                        <div>
                             <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                  <iconify-icon icon="solar:bag-cross-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                             </div>
                        </div>
                   </div>
              </div>
         </div>
    </div>

    <div class="col-md-6 col-xl-3">
         <div class="card">
              <div class="card-body">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <h4 class="card-title mb-2 d-flex align-items-center gap-2">Total Visited Customer</h4>
                             <p class="text-muted fw-medium fs-22 mb-0">2334 <span class="badge text-danger bg-danger-subtle fs-12"><i class="bx bx-down-arrow-alt"></i>4.5%</span> <span class="fs-12">(Last Week)</span></p>
                        </div>
                        <div>
                             <div class="avatar-md bg-primary bg-opacity-10 rounded">
                                  <iconify-icon icon="solar:users-group-two-rounded-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
                             </div>
                        </div>
                   </div>
              </div>
         </div>
    </div>

</div>
