<div class="wrapper">
     <!-- ========== Topbar Start ========== -->
     <header class="topbar">
          <div class="container-fluid">
               <app-navbar></app-navbar>
          </div>
     </header>

     <!-- ========== Topbar End ========== -->

     <!-- ========== App Menu Start ========== -->


     <app-sidebar></app-sidebar>


     <!-- ========== App Menu End ========== -->

     <!-- ==================================================== -->
     <!-- Start right Content here -->
     <!-- ==================================================== -->
     <div class="page-content">

          <!-- Start Container Fluid -->
          <div class="container-fluid">

               <router-outlet></router-outlet>
               

          </div>
          <!-- End Container Fluid -->



          <!-- src/app/app.component.html (o el archivo HTML de tu pie de página) -->
          <footer class="footer">
               <div class="container-fluid">
                    <div class="row">
                         <div class="col-12 text-center">
                              {{ currentYear }} &copy; DondeTere. Crafted by
                              <iconify-icon icon="f7:logo-rss" class="fs-12 align-middle text-danger"></iconify-icon>
                              <a href="https://heyzine.com/flip-book/5241be4323.html" class="fw-bold footer-text"
                                   target="_blank">CorpaTech</a>
                         </div>
                    </div>
               </div>
          </footer>





     </div>
     <!-- ==================================================== -->
     <!-- End Page Content -->
     <!-- ==================================================== -->


</div>