
<div class="wrapper">
     <!-- ========== Topbar Start ========== -->
     <header class="topbar">
          <div class="container-fluid">
               <app-navbar></app-navbar> 
          </div>
     </header>

     <!-- ========== Topbar End ========== -->

     <!-- ========== App Menu Start ========== -->
 
     
          <app-sidebar></app-sidebar>


     <!-- ========== App Menu End ========== -->

     <!-- ==================================================== -->
     <!-- Start right Content here -->
     <!-- ==================================================== -->
     <div class="page-content">

          <!-- Start Container Fluid -->
          <div class="container-fluid">

               <router-outlet></router-outlet>

          </div>
          <!-- End Container Fluid -->

     </div>
     <!-- ==================================================== -->
     <!-- End Page Content -->
     <!-- ==================================================== -->


</div>






