

<div >
    <div class="p-3 bg-light custom-header mb-0 fondo">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title mi-color-letra"> General Inventario</h4>
        </div>
    </div>

    <div class="no-padding">
        <div class="table-responsive">
            <table class="table align-middle mb-0 table-hover table-centered">
                <thead class="custom-header">
                    <tr>
                     
                        <th class=" color-text">Artículo</th>
                        <th class=" color-text">Código</th>
                       
                        <th class="text-center color-text">Precio de venta</th>
                       
                        <th class="text-center color-text">Cantidad Actual</th>
                    </tr>
                </thead>
                <tbody  *ngIf="!isFiltered || (isFiltered && products.length === 0)">
                    <tr *ngFor="let producto of productos | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } ">
                       
                        <td class="letrapro">{{ producto.name }}</td>
                        <td class="letra">{{ producto.code }}</td>
                      
                        <td class="text-center">{{ producto.price }}</td>
                        
                        <td class="text-center">
                            <span 
                                class="badge py-1 px-2"
                                [ngClass]="{
                                    'bg-success-subtle text-success': producto.quantity >= 10,
                                    'bg-danger-subtle text-danger': producto.quantity < 10
                                }">
                                {{ producto.quantity }}
                            </span>
                        </td>
                       
                        
                    </tr>
                </tbody>

                <tbody *ngIf="isFiltered && products.length > 0">
                    <tr *ngFor="let producto of products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } ">
                       
                        <td class="letrapro">{{ producto.name }}</td>
                        <td class="letra">{{ producto.code }}</td>
                      
                        <td class="text-center">{{ producto.price }}</td>
                        
                        <td class="text-center">
                            <span 
                                class="badge py-1 px-2"
                                [ngClass]="{
                                    'bg-success-subtle text-success': producto.quantity >= 10,
                                    'bg-danger-subtle text-danger': producto.quantity < 10
                                }">
                                {{ producto.quantity }}
                            </span>
                        </td>
                       
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer border-top">
        <nav aria-label="Page navigation">
          <pagination-controls
            class="pagination justify-content-end mb-0"
            (pageChange)="currentPage = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [responsive]="true"
            [autoHide]="true">
          </pagination-controls>
        </nav>
      </div>

</div>

<div class="card" *ngIf="BusquedaActiva && productosFiltrados.length > 0">
    <div class="p-3 bg-light custom-header mb-0 fondo">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title mi-color-letra"> General Inventario</h4>
        </div>
    </div>

    <div class="no-padding">
        <div class="table-responsive">
            <table class="table align-middle mb-0 table-hover table-centered">
                <thead class="custom-header">
                    <tr>
                        <th class="text-center color-text">Código</th>
                        <th class="text-center color-text">Artículo</th>
                        <th class="text-center color-text">Cantidad Inicial</th>
                        <th class="text-center color-text">Cantidad Mínima</th>
                        <th class="text-center color-text">Entradas</th>
                        <th class="text-center color-text">Salidas</th>
                        <th class="text-center color-text">Cantidad Actual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productosFiltrados">
                        <td class="text-center letra">{{ producto.codigo }}</td>
                        <td class="text-center letrapro">{{ producto.articulo }}</td>
                        <td class="text-center">{{ producto.cantidadInicial }}</td>
                        <td class="text-center">{{ producto.cantidadMinima }}</td>
                        <td class="text-center">{{ producto.entrada }}</td>
                        <td class="text-center">{{ producto.salida }}</td>
                        
                        <td class="text-center"><span class=" badge bg-success text-light  px-2 py-1 fs-13">{{ producto.cantidadActual }}</span></td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    


    <div class="card-footer border-top">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mb-0">
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
            </ul>
        </nav>
    </div>

</div>


<div *ngIf="mostrarAlerta" class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
    <strong>Atención:</strong> {{ alertMessage }}
    <button type="button" class="btn-close" aria-label="Close"(click)="cerrarAlerta()"></button>
  </div>






