.custom-header {
    background-color: #ff6d2fe3; 
  
  }
.color-text{
    color: white;
    padding-left: 25px;
}

.letra{
    color:#313b5e ;
    font-weight: bold;
  }

.letrapro{
    color:#313b5ed6 ;
    font-weight: bold;
    padding-left: 25px;
    
}

.fondo{
    border-radius: 3px;
}

.fondo, .no-padding {
    margin: 0;
    padding: 0;
}

/* Elimina el margen inferior del contenedor de la cabecera */
::ng-deep .ngx-pagination .current {
    padding: .1875rem .625rem;
    background: #ff6d2fe3 !important;
    
    color: #fefefe;
    cursor: default;
    border-radius: 3px;
    
  }
  
  ::ng-deep .ngx-pagination li a:hover {
    background: none !important; /* No cambiar el fondo al hacer hover */
    color: inherit !important; /* Mantener el color del texto */
  }
  
  .btn-hover-dark:hover {
    background-color: #627cd856 !important; /* Gris más intenso */
    color: white; /* Color blanco para el icono */
  }