/* You can add global styles to this file, and also import other style files */
/* Aplica la fuente Open Sans globalmente */
body {
    font-family: 'Open Sans', sans-serif !important;
  }
  p{
    font-family: 'Open Sans', sans-serif !important;
  }
  
  /* Aplicar la fuente solo a los títulos */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif  !important;
  }